<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>step0_repl.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>step1_read_print.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>step2_eval.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>step3_env.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>step4_if_fn_do.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>step5_tco.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>step6_file.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>step7_quote.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>step8_macros copy.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>step8_macros.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>step9_try*.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8D454BD41D6FD291007C7554</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D454BDF1D6FD3D4007C7554</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D5A49821DBD045A00D90D97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D5A49981DC240A200D90D97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D5CC13B1DC788B9008FA8E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D5F72A81DE67C3100AA37E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D765D451DCB33A00004EA25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D8917CE1D74F91900351894</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D8C74931D88DC95007AE095</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D8CDD4C1D7F4F1700B28817</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DB4C9521D8C6E26000743BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
